<div id="map" style="width: 1000px; height: 600px; margin: 20px auto;"></div>


<div style="display: flex; align-items: center; justify-content: space-between; width: 1000px; margin: 0 auto;">
 <div>
  <button (click)="toggle3D()">Enable/Disable 3D</button>

 </div>

 <div style="flex: 1; margin: 0 150px;">
   <label for="baseLayerSelect">Select Base Layer:</label>
   <select id="baseLayerSelect" (change)="changeBaseLayer($event)" style="width: 150px">
     <option value="GoogleAerial">Google Aerial</option>
     <option value="EsriAerial">Esri Aerial</option>
   </select>
 </div>

 <div>
   <label for="opacityRange"> Opacity</label>
   <!-- <input input type="range" class="form-range" min="0" max="1" step="0.01" id="opacityRange" [(ngModel)]="franeWMSOpacity" (input)="setFraneWMSOpacity()"> -->
   

 </div>
</div>

